
body {
  margin: 0;
  background-image: linear-gradient(to left, #c6eaffd3, #ffe9f8);
  overflow-x: hidden;
}

h1 {
  color: blueviolet;
  width: 85%;
  max-width: 850px;
  font-size: 100px;
  font-family: "Times New Roman", serif;
  margin: 0 0 5px 155mm;
}

h2 {
  color: #4f00aa;
  font-size: 35px;
  width: 85%;
  max-width: 850px;
  padding: 8px 0 5px 0;
  font-family: "Times New Roman", serif;
  margin: 0 auto;
}

h3 {
  color: rgb(15, 3, 117);
  font-size: 28px;
  width: 85%;
  max-width: 850px;
  font-family: "Times New Roman", serif;
  margin: 0 auto;
}

.Contacto {
  color: rgba(255, 9, 1, 0.959);
}

p:nth-child(2n) {
  color: #030303;
  width: 85%;
  max-width: 850px;
  font-family: "Verdana" sans-serif;
  font-size: 22px;
  margin: 0 auto;
}

p:nth-child(2n-1) {
  color: black;
  width: 85%;
  max-width: 850px;
  font-family: "Verdana" sans-serif;
  font-size: 22px;
  margin: 0 auto;
}

li {
  color: #030303;
  font-size: 20px;
  width: 85%;
  max-width: 850px;
  font-family: "Verdana" sans-serif;
  margin: 0 auto;
}

.titulo {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
}

.header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.header__menu {
  margin-right: 40px;
}

.header__menu__profile {
  margin-right: 8px;
  bottom: 5px;
}

.Img_grupo {
  margin: 0;
  padding: 30px;
}

.ir-arriba {
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 60px;
  background: #a778c7;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.main {
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_title {
  color: #9900ff;
  font-size: 55px;
  display: flex;
  justify-content: center;
}

.input {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #020202;
  border-radius: 40px;
  color: black;
  font-family: "Verdana" "Helvetica" sans-serif;
  font-size: 36px;
  margin: 0 auto;
  padding: 10px;
  height: 50px;
  width: 90%;
  display: flex;
  bottom: 150px;
  left: 0px;
}

::placeholder {
  color: black;
}


.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel_container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel-item {
  background-image: linear-gradient(to left, #c6eaffd3, #ffe9f8);
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel_container:hover .carousel-item {
  opacity: 0.4;
}

.carousel_container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item_img {
  width: 200px;
  height: 270px;
  object-fit: cover;
}

.carousel-item_detail {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, black 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.titulo_arriba_del_carousel {
  font-size: 32px;
  margin: 20px;
  font-family: 'Roboto Slab', serif;
}

.accordion{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  min-height: 10vh;
}
.accordion .contentBx{
  position: relative;
  margin: 10px 20px;
}
.accordion .contentBx .label{
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-image: linear-gradient(to right, #ffe2e2d3, #ffe9f8);
  border: 1px solid #020202;
  border-radius: 35px;
}
.accordion-text{
  color: rgb(0, 0, 0);
}
.accordion .contentBx .label::before{
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordion .contentBx .content{
  position: relative;
  height: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #ffe2e2d3, #ffe9f8);
  transition: 0.5s;
  overflow-y: auto;
}
.accordion .contentBx.active .content{
  height: 150px;
  padding: 10px;
  border: 1px solid #020202;
  border-radius: 25px;
}

.accordion .contentBx.active .label::before{
  content: '-';
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(190, 189, 189, 0.219);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 12, 12, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 1, 1, 0.699);
}

.footer {
  margin-top: auto;
}

.rayado{
  text-decoration: none;
}
.rayado:hover {
  text-decoration: underline;

}

.aviso-cookies {
  display: none;
  background-image: linear-gradient(to right, #ffe2e2d3, #ffe9f8);
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  line-height: 170%;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  left: 22px;
  z-index: 100;
  padding-top: 60px;
  box-shadow: 0px 20px 20px 10px rgba(222,222,222,.25);
  text-align: center;
}
.aviso-cookies.activo {
  display: block;
}
.aviso-cookies .galleta{
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.aviso-cookies .titulo-galleta,
.aviso-cookies .parrafo{
  margin-bottom: 15px;
}

.aviso-cookies .boton{
  width: 100%;
  background: #595959;
  border: none;
  color: #fff;
  font-family: "Times New Roman", serif;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 22px;
}
.aviso-cookies .boton{
  background: rgb(0, 0, 0);
}
.aviso-cookies .enlance-galleta {
  color: #4DBFFF;
  text-decoration: none;
  font-size: 14px;
}
.aviso-cookies .enlance-galleta:hover {
  text-decoration: underline;
}

.fondo-aviso-cookies {
  display: none;
  background: rgba(0,0,0,.20);
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;;
}

.fondo-aviso-cookies.activo {
  display: block;
}

.vista-general {
  color:rgba(255, 1, 1, 0.699);
  font-size: 25px;
  text-decoration: none;
  margin-left: 50%;
}
/*# sourceMappingURL=Estilos.css.map */
